.services-section {
  padding: 60px 5%;
}


.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  padding-top: 5vh;
}

/* .service-card {
  background: #F5F7F9;
  padding: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  transition: 0.3s;
} */

.service-card:hover {
  background: #E8ECEF;
}

.service-text h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.service-text p {
  color: #666;
  font-size: 0.95rem;
}

.service-icon {
  font-size: 2.5rem;
  background: white;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.service-card {
  background: #F5F7F9;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

.service-header {
  padding: 30px;
}

.service-image-container {
  width: 100%;
  height: 200px;
}

.service-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}